<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<br>
	<div class="alignleft">	
		<form action="/submit" id="textform" method="post">
			<center><h3>Submit a Transaction</h3></center>
			<center>
			<textarea name="content" rows="4" cols="50" placeholder="Certificate content..."></textarea>
			
			<br><br>

			<input type="text" name="author" placeholder="Candidate">
			<input type="submit" value="Post">
			</center>
			<br>
		</form>
		<center>
		<a href="/mine_app"><button>Request to mine</button></a>
		<a href="/"><button>Resync</button></a>
		</center>
		<br>
	</div>	

	<div class="alignright">
		<form action="/search" id="textform" method="post">
			<center><h3>Search a Document</h3></center>
			<center>
			<textarea name="content" rows="2" cols="50" placeholder="Input a transaction..."></textarea>
			</center>

			<p><b> Output: {{answer}}</b></p>

			<br>

			<center>
			<input type="submit" value="Search">
			</center>
			<br>
		</form>
	</div>

	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

	<div class='blockchain'>
		<center><h3>Pending Txs</h3></center>
		{% for tx in txs %}
		<div class="post_box">
			<p>Author: {{tx.author}}</p>
			<p>Timestamp: <i>{{readable_time(tx.timestamp)}}</i></p>
			<p>Content: {{tx.content}}</p>
		</div>
		{% endfor %}
		
		<center><h3>Blockchain</h3></center>
		{% for post in posts[::-1] %}
		<div class="post_box">
			<div class="post_box-header">
				<div style="background: rgb(0, 97, 146) none repeat scroll 0% 0%; box-shadow: rgb(0, 97, 146) 0px 0px 0px 2px;" class="post_box-avatar">{{post.index}}</div>
				<div class="name-header"><b>Block #{{post.index}}</b></div>
				<div class="name-header"><b>Miner:</b> {{post.miner}}</div>
				<div class="name-header"><b>Hash:</b> {{post.hash}}</div>
				<div class="name-header" style="padding-left:56px"><b>Previous Hash:</b> {{post.previous_hash}}</div>
				<div class="name-header" style="padding-left:56px"><b>Nonce:</b> {{post.nonce}}</div>
			{% for p in post.transactions %}
			<div class="post_box-body">
				<p>Author: {{p.author}}</p>
				<p>Timestamp: <i>{{readable_time(p.timestamp)}}</i></p>
				<p>Content: {{p.content}}</p>
			</div>
			{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>
	</div>

	<style>
		.blockchain {
		    background: #fff;
		    padding: 12px 0px 0px 12px;
			border-style: groove;
			float: left;
			margin-left: 40px;
		}

		.alignleft {
			background: #fff;
			margin-left: 120px;
			margin-bottom: 40px;
			float: left;
			border-style: groove;
		}

		.alignright {
			background: #fff;
			margin-right: 120px;
			float: right;
			border-style: groove;
		}

		.post_box {
		    background: #fff;
		    padding: 12px 0px 20px 12px;
		    margin-top: 0px;
		    margin-bottom: 8px;
			margin-right: 12px;
			border-style: ridge;
		}

		.post_box-header {
		    padding-bottom: 12px;
		}

		.post_box-avatar {
		    width: 38px;
		    height: 38px;
		    border-radius: 50%;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    color: white;
		    font-size: 22px;
		    float: left;
		    margin-right: 16px;
		    border: 1px solid #fff;
		    box-shadow: 0px 0px 0px 2px #f00;
		}

		.post_box-avatar::after {
		    content:"";
		    display:block;
		}

		.post_box-name {
		    font-weight: bold;
		}

		.post_box-subtitle {
		    color: #777;
		}

		.post_box-body {
		    margin-top: 32px;
		    margin-bottom: 8px;
			margin-right: 12px;
			padding: 8px 0px 0px 12px;
			border-style: ridge;
		}

		.post_box-options {
		    float: right;
		}
		.option-btn {
		    background: #f8f8f8;
		    border: none;
		    color: #2c3e50;
		    padding: 7px;
		    cursor: pointer;
		    font-size: 14px;
		    margin-left: 2px;
		    margin-right: 2px;
		    outline: none;
		    height: 42px;
		}
	</style>

{% endblock %}

<!---
{% block blockchain %}
	<br>
	<center>
		<form action="/submit" id="textform" method="post">
			<textarea name="content" rows="4" cols="50" placeholder="Blockchain..."></textarea>
		</form>
	</center>

{% endblock %} --->