<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<br>
	<div class="container">
		<div class="left">
			<div class="transaction">
				<form action="/submit" id="textform" method="post">
					<center><h3>Submit a Transaction</h3></center>
					<center>
					<label for="fcontent">Certificate content:</label><br>
					<textarea id="fcontent" name="content" rows="2" cols="17"></textarea><br><br>

					<label for="fauthor">Candidate:</label><br>
					<input type="text" id="fauthor" name="author"><br><br>

					<input type="submit" value="Post" class="button_generic">
					</center>
				</form>
				<center>
					<a href="/mine_app"><button class="button_generic">Request to mine</button></a>
					<!--<a href="/"><button class="button_generic">Resync</button></a>-->
				</center>
				
			</div>

			<div class='blockchain'>
				<center><h3>Pending Txs</h3></center>
				{% for tx in txs %}
				<div class="post_box">
					<p>Author: {{tx.author}}</p>
					<p>Timestamp: <i>{{readable_time(tx.timestamp)}}</i></p>
					<p>Content: {{tx.content}}</p>
				</div>
				{% endfor %}
				
				<center><h3>Blockchain</h3></center>
				{% for post in posts[::-1] %}
				<div class="post_box">
					<div class="post_box-header">
						<div style="background: lightsalmon none repeat scroll 0% 0%; box-shadow: lightcoral 0px 0px 0px 2px;" class="post_box-avatar">{{post.index}}</div>
						<div class="name-header"><b>Block #{{post.index}}</b></div>
						<div class="name-header"><b>Miner:</b> {{post.miner}}</div>
						<div class="name-header"><b>Hash:</b> {{post.hash}}</div>
						<div class="name-header" style="padding-left:56px"><b>Prev Hash:</b> {{post.previous_hash}}</div>
						<div class="name-header" style="padding-left:56px"><b>Nonce:</b> {{post.nonce}}</div>
					{% for p in post.transactions %}
					<div class="post_box-body">
						<p>Author: {{p.author}}</p>
						<p>Timestamp: <i>{{readable_time(p.timestamp)}}</i></p>
						<p>Content: {{p.content}}</p>
					</div>
					{% endfor %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="right">
			<div class="row_right">
				<div class="function">
					<form action="/search" id="textform" method="post" class="form">
						<center><h3>Search a Document</h3></center>
						<center>
						<label for="fcontent">Transaction:</label><br>
						<input type="text" id="fcontent" name="content"><br>
						<p style="color:red;font-size:10px">{{answer_error}}</p>
						</center>
			
						<center>
						<p><b> Output:</b> {{answer}}</p>
			

						<input type="submit" value="Search" class="button_generic">
						</center>
						<br>
					</form>
				</div>
			
				<div class="function">
					<form action="/switch_node" id="textform" method="post" class="form">
						<center><h3>Switch Node</h3></center>
						<center>
						<p style="font-size: 10px"><b> Available nodes:</b> {{available_nodes}}</p>
						<label for="fnode">New node:</label><br>
						<input type="text" id="fnode" name="node"><br>
						<p style="color:red;font-size:10px">{{connected_node_error}}</p>
						</center>
			
						<center>
						<p><b> Connected node:</b> {{connected_node}}</p>
						
						<input type="submit" value="Switch" class="button_generic">
						</center>
						<br>
					</form>
				</div>
				<div class="function">
					<form action="/add_new_node" id="textform" method="post">
						<center><h3>Add/Delete Node</h3></center>
						<center>
							<label for="fnew_node">New node:</label><br>
							<input type="text" id="fnew_node" name="new_node"><br>
							<p style="color:red;font-size:10px">{{new_node}}</p>
						</center>
						<br>
						<center>						
							<input type="submit" value="Add" class="button_generic">
						</center>
					</form>
					<form action="/delete_node" id="textform" method="post" class="form">
						<center>
							<label for="fdel_node">Delete node:</label><br>
							<input type="text" id="fdel_node" name="del_node"><br>
							<p style="color:red;font-size:10px">{{del_node}}</p>
						</center>
						<br>
						<center>						
						<input type="submit" value="Delete" class="button_generic">
						</center>
						<br>
					</form>
				</div>
			</div>
			<div class="row_right">
				<div class="function">
					<form action="/modify_diff" id="textform" method="post" class="form">
						<center><h3>Modify Difficulty</h3></center>
						<center>
						<label for="fdifficulty">New difficulty:</label><br>
						<input type="text" id="fdifficulty" name="difficulty"><br>
						<p style="color:red;font-size:10px">{{difficulty_error}}</p>
						</center>
						<center>
						<p><b> Difficulty set to:</b> {{difficulty}}</p>
						
						<input type="submit" value="Change" class="button_generic">
						</center>
					</form>
				</div>
				<div class="function">
					<form action="/reg_with" id="textform" method="post" class="form">
						<center><h3>Register Nodes</h3></center>
						<center>
						<label for="fnode1">Base node:</label><br>
						<input type="text" id="fnode1" name="node1"><br>
						<label for="flist_nodes">Register with node(s):</label><br>
						<input type="text" id="flist_nodes" name="list_nodes"><br>
						<p style="color:red;font-size:10px">{{register_error}}</p>
						</center>
			
						<center>
						<p><b> Output:</b> {{register}}</p>
						
						<input type="submit" value="Register" class="button_generic">
						</center>
						<br>
					</form>
				</div>
				<div class="function">
					<form action="/tampered_block" id="textform" method="post" class="form">
						<center><h3>Attack</h3></center>
							<input type="checkbox" id="default" name="attack_type" value="A">
							<label for="default"> Default Block</label><br>
							<input type="checkbox" id="prev_hash" name="attack_type" value="B">
							<label for="prev_hash"> Prev Hash Attack</label><br>
							<input type="checkbox" id="difficulty" name="attack_type" value="D">
							<label for="difficulty"> Difficulty Attack</label><br>
							<input type="checkbox" id="hash" name="attack_type" value="C">
							<label for="hash"> Transaction Attack</label><br>
							<center>
								<p><b> Response:</b> {{attack}}</p>
							</center>
						<center>
							<input type="submit" value="Simulate Attack" class="button_generic">
						</center>
						<br>
					</form>
					<form action="/show_tampered_block" id="textform" class="form">
						<center>
							<input type="submit" value="Tampered Block" class="button_specific">
						</center>
						<br>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script>
		// When the user clicks on div, open the popup
		function myFunction() {
		  var popup = document.getElementById("myPopup");
		  popup.classList.toggle("show");
		}
	</script>
	
	<style>
		.container {
			height: auto;
			overflow: hidden;
		}

		.right {
			width: 640px;
			float: right;
			background: #fff;
		}

		.left {
			float: left; /* not needed, just for clarification */
			background: #fff;
			/* the next props are meant to keep this block independent from the other floated one */
			width: 660px;
			overflow: hidden;
		}​​

		.blockchain {
		    background: #fff;
		    padding: 12px 0px 0px 8px;
			border-style: groove;
			margin-left: 10px;
		}

		.transaction {
			background: #fff;
			padding: 0px 0px 10px 0px;
			margin-bottom: 30px;
			margin-top: 10px;
			margin-left: 200px;
			margin-right: 200px;
			border-style: groove;
		}
		
		.function {
			background: #fff;
			border-style: groove;
			display: table-cell;
			width: 150px;
			height: 150px;
			padding: 10px 10px 0px 10px;
		}
		
		.row_right {
    		border-spacing: 10px; /*Optional*/
			width: 590px;
			margin-left: 30px;
		}

		.form{
			width: auto;
			height: auto;
			margin-bottom: 0px;
		}

		.post_box {
		    background: #fff;
		    padding: 12px 6px 0px 12px;
		    margin-top: 0px;
		    margin-bottom: 8px;
			margin-right: 12px;
			border-style: ridge;
		}

		.post_box-header {
		    padding-bottom: 12px;
		}

		.post_box-avatar {
		    width: 38px;
		    height: 38px;
		    border-radius: 50%;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    color: white;
		    font-size: 22px;
		    float: left;
		    margin-right: 16px;
		    border: 1px solid #fff;
		    box-shadow: 0px 0px 0px 2px #f00;
		}

		.post_box-avatar::after {
		    content:"";
		    display:block;
		}

		.post_box-name {
		    font-weight: bold;
		}

		.post_box-subtitle {
		    color: #777;
		}

		.post_box-body {
		    margin-top: 32px;
		    margin-bottom: 8px;
			margin-right: 12px;
			padding: 8px 0px 0px 12px;
			border-style: ridge;
		}

		.post_box-options {
		    float: right;
		}

		.button_generic{
			border-radius: 6px;
			background: #D3D3D3;
			width: auto;
  			height: auto;
			padding: 4px;
			border: 2px solid grey;
		}

		.button_specific{
			border-radius: 6px;
			background: #D3D3D3;
			width: auto;
  			height: auto;
			padding: 1px;
			font-size: 10px;
			border: 2px solid grey;
		}

		/* Popup container - can be anything you want */
		.popup {
			position: relative;
			display: inline-block;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			font-size: 10px;
			color: black;
			border: 1px solid grey;
			background: #D3D3D3;
			border-radius: 6px;
		}

		/* The actual popup */
		.popup .popuptext {
			visibility: hidden;
			width: 160px;
			background-color: #555;
			color: #fff;
			text-align: center;
			border-radius: 6px;
			padding: 8px 0;
			position: absolute;
			z-index: 1;
			bottom: 125%;
			left: 50%;
			margin-left: -80px;
		}

		/* Popup arrow */
		.popup .popuptext::after {
			content: "";
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: #555 transparent transparent transparent;
		}

		/* Toggle this class - hide and show the popup */
		.popup .show {
			visibility: visible;
			-webkit-animation: fadeIn 1s;
			animation: fadeIn 1s;
		}

		/* Add animation (fade in the popup) */
		@-webkit-keyframes fadeIn {
			from {opacity: 0;} 
			to {opacity: 1;}
		}

		@keyframes fadeIn {
			from {opacity: 0;}
			to {opacity:1 ;}
		}
	</style>

{% endblock %}